.App {
  text-align: center;
}
:root{
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
.bg-primaryColor{
  background-color:var(--primaryColor);

}
.bg-mainGray{
  background: var(--mainGrey);

}
.defaultHero,
.roomHero{
  /* height:200px; */
  min-height: calc(100vh - 125px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/images/defaultBcg.jpg') center/cover no-repeat;
}
.roomHero{
  background: url('/images/room-2.jpg') center/cover no-repeat;
  min-height: 60vh;
}
.bg-image{
  background: center/cover no-repeat;
}
.services-title h4{
  font-size:40px;
  text-align: center;
  margin-top: 4rem;

}
.row{
  text-align: center!important;
  align-items: center!important;
}
.banner{
  background-color: rgb(15, 15, 15);
  padding: 5%;
  color:white;
  margin-left: 20%;
  margin-right:20%;
  text-align: center;
  opacity: 0.6;
}.banner h1{
  font-size: 60px;
}
.banner p{
  font-size:20px;
}
body{
  overflow-x: hidden;
}
.fa-5x{
  font-size: 35px!important;
  color:rgb(145, 121, 78);
}
.btn:hover{
  /* border:2px solid rgb(250, 198, 101); */
  background:transparent;
  opacity: 0.7;
}
ol {
  list-style: outside;
  flex-direction: column!important;
  width:100%;
  text-align: center;
  transition: all 0.3s linear;
  
}
ol li{
  height: 35px;
  text-transform: capitalize;
  font-weight: bold;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .menu-icon{
    display: inline;
  
  }
  .li-display{
    display:none
  }
  .col-s-3{
    width:100%!important;
   
  }
  .col-s-4{
    width:100%!important;
  }
 
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 .menu-icon{
   display: none;
 }
 ol{
  display: none!important;
}
.li-display{
  display: inline;
}
.col-s-3{
  width:50%!important;
}
.col-s-4{
  width:100%!important;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-s-3{
    width:50%!important;
  }
  .col-s-4{
    width:50%!important;
  }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-s-3{
    width:25%!important;
  }
  .col-s-4{
    width:25%!important;
  }
 
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-s-3{
    width:25%!important;
  }
  .col-s-4{
    width:25%!important;
  }
}